.label {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px grey solid;
  border-radius: 5px;
}

.input:hover {
  background-color: whitesmoke;
}

.input:focus {
  border: 1px lightgrey solid;
}
