.numeric-input-label {
  display: flex;
  flex-direction: column;
}

.numeric-input {
  border: 1px grey solid;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  font-size: large;
  text-align: center;
  margin: 0 auto;
}

.numeric-input:hover {
  background-color: var(--light-color);
}

.numeric-input:focus {
  border: 1px lightgrey solid;
}

.error {
  border: 1px red solid;
}

.text-input-helper-text {
  margin: 0;
  padding: 0;
  color: var(--secondary-darker);
  font-size: small;
}
