.character-profile-wrapper-left {
  display: flex;
  flex-basis: 60%;
  flex-grow: 0;
  flex-shrink: 1;
  padding: 8px;
  background-image: url("../../assets/left-half-warrior.png");
  background-size: cover;
  align-items: flex-end;
}

.character-profile-wrapper-right {
  display: flex;
  flex-basis: 60%;
  flex-grow: 0;
  flex-shrink: 1;
  padding: 8px;
  background-image: url("../../assets/right-half-warrior.png");
  background-size: cover;
  align-items: flex-end;
}

.character-profile-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.character-profile-bottom {
  display: flex;
  flex-basis: 80%;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 auto;
  justify-content: center;
}

.character-profile-shield-icon {
  font-size: xx-large;
  margin: 0 auto;
}
