body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-color);
  color: var(--dark-color);
}

#app {
  width: 100vw;
  height: 100vh;
}

:root {
  --main-color: #9f9ba1;
  --secondary-darker: #807d7f;
  --secondary-lighter: #7b8487;
  --light-color: #f4f1f4;
  --dark-color: #30272d;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
